.users__item
{
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid gray;
}

.users__info_type_time
{
    font-size: 0.7em;
    margin: 0 0 5px 0;
}

.users__item .label
{
    min-width: 130px;
    display: inline-block;
    vertical-align: middle;
}

.users__item .input
{
    min-width: 250px;
}
